body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.modal{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display:flex;
    align-items: center;
    justify-content: center;
}

.modal.open{
    opacity:1;
    z-index: 999;
}